.flag {
   width: 20px;
   height: 20px;
   background-color: var(--accent3);
   border-radius: 50%;

   font-size: 10px;
   color: white;
   text-align: center;
   line-height: 5px;
   border: none;
   margin: 10px;
}

.flag:hover {
   transform: scale(1.1);
   cursor: pointer;
}

.more {
  color: var(--accent2);
  transform: scale(1.05);
  cursor: pointer;
}

.Details-gallery {
  width: 300px;
  height: auto;
}

.Details-column {
  padding: 0 20px 0 20px;
  float: left;
  box-sizing: border-box;
  display: inline-block;
}

.Details-left {
  width: 30%;
}

.Details-right {
  width: 70%;
  text-align: left;
}

.Details-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .Details-column {
    width: 100%;
  }
}
