.Content {
  text-align: center;
}

.Fab {
   width: 70px;
   height: 70px;
   background-color: var(--main);
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   transition: all 0.1s ease-in-out;

   font-size: 40px;
   color: white;
   text-align: center;
   line-height: 50px;
   border: none;
   margin: 10px;
   margin-top: 15px;
}

.Fab:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
   cursor: pointer;
}
