.Screen-header {
  padding: 20px;
}

.Screen-title {
  font-size: 2.5em;
}

@media screen and (max-width: 960px) {
  .Screen-header {
    padding-top: 80px;
  }

  .Screen-title {
    font-size: 2em;
  }
}
